{% extends 'menu/base.html' %}

{% block content %}

<div class="container">
    <h1 class="mb-4 text-center">🍽️ Staff Order Dashboard</h1>
    
    {% for order in orders %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ order.food_item.name }}</h5>
            <p class="card-text"><strong>Customer:</strong> {{ order.customer_name }}</p>
            <p class="card-text"><strong>Customer Email:</strong> {{ order.customer_email }}</p>
            <p class="card-text"><strong>Date:</strong> {{ order.Date }}</p>
            <p class="card-text"><strong>Items order:</strong> {{ order.items }}</p>
            <p class="card-text"><strong>Status:</strong> {{ order.status }}</p>

            <form method="post" class="row g-3">
                {% csrf_token %}
                <input type="hidden" name="order_id" value="{{ order.id }}">
                
                <div class="col-auto">
                    <select name="status" class="form-select">
                        <option value="Pending" {% if order.status == 'Pending' %}selected{% endif %}>Pending</option>
                        <option value="Preparing" {% if order.status == 'Preparing' %}selected{% endif %}>Preparing</option>
                        <option value="Completed" {% if order.status == 'Completed' %}selected{% endif %}>Completed</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
    {% empty %}
        <p class="text-center">No orders yet.</p>
    {% endfor %}
{% endblock %}
